@import 'tailwindcss';

:root {
  --text-default: #e6e9f0;
  --bg-default: #0a0f1a;
}

@theme inline {
  --color-gray-900: var(--bg-default);
}

@theme {
  --color-primary: pink;
  --color-gray-100: #e6e9f0;
  --color-gray-200: #cdd3e1;
  --color-gray-300: #aab3cc;
  --color-gray-400: #555f7d;
  --color-gray-500: #454f6a;
  --color-gray-600: #363d56;
  --color-gray-700: #272f43;
  --color-gray-800: #181f2e;

  --color-primary-light: #4de7b7;
  --color-primary: #0da170;
  --color-primary-dark: #065f46;

  --color-link-color: #10b981;
  --color-link-hover: #0b8a60;

  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #991b1b;
  --color-info: #0ea5e9;

  --color-over-primary: #0a0f1a;
  --color-over-primary-dark: #e6e9f0;
  --color-over-primary-light: #0a0f1a;
  --color-over-success: #0a0f1a;
  --color-over-warning: #0a0f1a;
  --color-over-error: #e6e9f0;
  --color-over-info: #0a0f1a;

  --color-default: #e6e9f0;
  --color-muted: #aab3cc;

  --color-disabled: #555f7d;
  --color-disabled: #aab3cc;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--text-default);
  background-color: var(--bg-default);
}
